{% extends "__layout.twig" %}

{% block content %}

<div class="text-center">
    <img src="/images/A-Chan_PC.gif" alt="A-Chan">
    <div>
        Страница не найдена!
    </div>
</div>

{% endblock %}