{% extends "__object.twig" %}

{% block objectContent %}
<div style="border: 1px solid black">
    Дэндзи хотел жить спокойной жизнью со своей девушкой, но, чтобы расплатиться с оставшимися от отца долгами, был вынужден заниматься нелегальной охотой на демонов и однажды погиб. Его не самый обычный домашний питомец Потита каким-то образом слился с его мертвым телом, и теперь парень способен превращать конечности в бензопилы. Такого ценного кадра нанимает Бюро общественной безопасности, чтобы тот снова охотился на демонов — теперь официально.

</div>
{% endblock %}