{% extends "__object.twig" %}

{% block objectContent %}
<div style="border: 1px solid black">
    Действие происходит в мире, где существует некая организация Охотников. Их лицензия дает им множество привилегий — возможность бесплатно путешествовать первыми классами различных видов транспорта, доступ к закрытой для других людей информации и право брать крупные суммы денег в банках. Из-за этого довольно много желающих стать Охотниками. Поэтому ежегодно проводится экзамен, на котором выбираются те немногие, кто действительно достоин быть Охотником. Главный герой, Гон Фрикс, отправляется на экзамен с целью стать Охотником и найти своего отца. Ему предстоит преодолеть много трудностей на своем пути и встретить замечательных друзей, у каждого из которых свои причины стать Охотником.
</div>
{% endblock %}